.search {
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.word {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    outline: none;
}
  
.search-box {
    position: relative;
    text-align: center;
    align-items: center;
    border: 1px solid #1b5ac2;
}