.App {
  text-align: center;
}

.search-bar {
  width: 25%;
  height: 100vh;
  float: left;
  background-color: '#F8FAF0';
}

.main-view {
  width: 75%;
  height: 100vh;
  position: relative;
  float: right;
  background-color: '#F8FAF0';
}
